<h1>Twitar</h1>
<p>Welcome to Twitar, the innovative microblogging site!</p>
<p>Basicly it's pretty much like twitter. Except for the name. See? It's written with an 'a'. And that second 't' is gone! Now if that's not creative, I don't know what is.</p>
<p>There's absolutly no reason to sign up!</p>
<%= link_to "Sign up now!", "/signup", :class => "signup_button round" %>
