<h1>Welcome to Twitar, the innovative microblogging site!</h1>
<p>Basicly it's pretty much like twitter. Except for the name. See? It's written with an 'a'. And that second 't' is gone! Now if that's not creative, I don't know what is.</p>
